{% macro faction_color(code) %}
    {% set colors = {
        'leadership': '#2b80c5',
        'protection': '#107116',
        'aggression': '#cc3038',
        'justice': '#ead51b',
        'basic': '#808080',
        'determination': '#493f64'
    } %}
    {{ colors[code]|default('#888') }}
{% endmacro %}

{% import _self as macros %}

{% if app.user is defined and app.user and app.user.isNewUI %}
    {% include 'AppBundle:Search:card-front-newui.html.twig' %}    
{% else %}
    <div class="row">
        <div class="col-sm-7">
            <div>
                <div class="panel panel-default
                    {% if card.faction2_code is defined %}
                        border-dual-gradient
                    {% else %}
                        border-{{ card.faction_code }}
                    {% endif %}"
                    {% if card.faction2_code is defined %}
                        style="--dual-gradient: linear-gradient(90deg, {{ macros.faction_color(card.faction_code) }}, {{ macros.faction_color(card.faction2_code) }});"
                    {% endif %}
                >
                    <div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }}{% if card.faction2_code is defined %} panel-heading-dual-gradient{% endif %}"
                        {% if card.faction2_code is defined %}
                            style="--dual-gradient-color1: {{ macros.faction_color(card.faction_code) }}; --dual-gradient-color2: {{ macros.faction_color(card.faction2_code) }};"
                        {% endif %}
                    >
                        <h3 class="panel-title">
                            {% include 'AppBundle:Search:card-name-with-link.html.twig' %}
                        </h3>
                    </div>
                    <div class="panel-body card-content">
                        {% include 'AppBundle:Search:card-faction.html.twig' %}
                        {% include 'AppBundle:Search:card-info.html.twig' %}
                        {% if card.type_code == 'main_scheme' or card.type_code == 'side_scheme' %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' %}
                            {% include 'AppBundle:Search:card-text.html.twig' %}
                        {% else %}
                            {% include 'AppBundle:Search:card-text.html.twig' %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' %}
                        {% endif %}
                        {% include 'AppBundle:Search:card-illustrator.html.twig' %}
                        {% include 'AppBundle:Search:card-pack.html.twig' %}
                        {% if card.errata %}
                            <div style="margin-top: 2rem;"><i><b>Errata</b>: {{card.errata}}</i></div>
                        {% endif %}
                    </div>
                </div>
                {# Ajout ici sous le panel #}
                {% include 'AppBundle:Search:card-front-promo.html.twig' with { 'card': card } %}
                {% if card.linked_card is defined %}
                    <div style="height: 32px;"></div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5" style="margin-bottom:0em; text-align:center;">
            <img id="card-image-{{ card.id }}"
                src="{{ card.imagesrc }}"
                alt="{{ card.name }}"
                class="img-responsive"
                style="max-height:400px; margin:auto; border-radius:12px;">
            <br>
        </div>
    </div>

    {% if card.linked_card is defined %}
        <div class="row">
            <div class="col-sm-7">
                {# Affiche le texte du back #}
                {% set back = card.linked_card %}
                <div class="panel panel-default
                    {% if back.faction2_code is defined %}
                        border-dual-gradient
                    {% else %}
                        border-{{ back.faction_code }}
                    {% endif %}"
                    {% if back.faction2_code is defined %}
                        style="--dual-gradient: linear-gradient(90deg, {{ macros.faction_color(back.faction_code) }}, {{ macros.faction_color(back.faction2_code) }});"
                    {% endif %}
                >
                    <div class="panel-heading border-{{ back.faction_code }} bg-{{ back.faction_code }}{% if back.faction2_code is defined %} panel-heading-dual-gradient{% endif %}"
                         style="--dual-gradient-color1: {{ macros.faction_color(back.faction_code) }}; --dual-gradient-color2: {{ macros.faction_color(back.faction2_code) }};">
                        <h3 class="panel-title">
                            {% include 'AppBundle:Search:card-name-with-link.html.twig' with { 'card': back } %}
                        </h3>
                    </div>
                    <div class="panel-body card-content">
                        {% include 'AppBundle:Search:card-faction.html.twig' with { 'card': back } %}
                        {% include 'AppBundle:Search:card-info.html.twig' with { 'card': back } %}
                        {% if back.type_code == 'main_scheme' or back.type_code == 'side_scheme' %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' with { 'card': back } %}
                            {% include 'AppBundle:Search:card-text.html.twig' with { 'card': back } %}
                        {% else %}
                            {% include 'AppBundle:Search:card-text.html.twig' with { 'card': back } %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' with { 'card': back } %}
                        {% endif %}
                        {% include 'AppBundle:Search:card-illustrator.html.twig' with { 'card': back } %}
                        {% include 'AppBundle:Search:card-pack.html.twig' with { 'card': back } %}
                        {% if back.errata %}
                            <div style="margin-top: 2rem;"><i><b>Errata</b>: {{back.errata}}</i></div>
                        {% endif %}
                    </div>
                </div>
                {# Ajout ici sous le panel du verso #}
                {% include 'AppBundle:Search:card-front-promo.html.twig' with { 'card': back } %}
            </div>
            <div class="col-sm-5" style="margin-bottom:0em; text-align:center;">
                <img id="card-image-{{ card.linked_card.id }}"
                    src="{{ card.linked_card.imagesrc }}"
                    alt="{{ card.linked_card.name }}"
                    class="img-responsive"
                    style="max-height:400px; margin:auto; border-radius:12px;">
            </div>
        </div>
    {% endif %}
{% endif %}

<style>
.border-dual-gradient {
    border: 1px solid transparent !important;
    border-radius: 8px;
    background: linear-gradient(white, white) padding-box, var(--dual-gradient, #888) border-box;
}
.panel-default[class*="border-"] {
    border-width: 1px !important;
}
.panel-heading-dual-gradient {
    background: linear-gradient(90deg, var(--dual-gradient-color1, #888) 0%, var(--dual-gradient-color1, #888) 40%, var(--dual-gradient-color2, #888) 60%, var(--dual-gradient-color2, #888) 100%) !important;
}
</style>

