<div class="col-sm-7">
	<div>
		<div class="panel panel-default border-{{ card.faction_code }} {% if card.faction2_code is defined %} border-dual {% endif %}">
			<div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }} {% if card.faction2_code is defined %} bg-dual border-dual{% endif %}">
				<h3 class="panel-title">
					{% include 'AppBundle:Search:card-name-with-link.html.twig' %}
				</h3>
  		</div>
			<div class="panel-body card-content">
				{% include 'AppBundle:Search:card-faction.html.twig' %}
				{% include 'AppBundle:Search:card-info.html.twig' %}
				{% if card.type_code == 'main_scheme' or card.type_code == 'side_scheme' %}
				{% include 'AppBundle:Search:card-flavor.html.twig' %}
				{% include 'AppBundle:Search:card-text.html.twig' %}
				{% else %}
				{% include 'AppBundle:Search:card-text.html.twig' %}
				{% include 'AppBundle:Search:card-flavor.html.twig' %}
				{% endif %}
				{% include 'AppBundle:Search:card-illustrator.html.twig' %}
				{% include 'AppBundle:Search:card-pack.html.twig' %}
				{% if card.errata %}
					<div style="margin-top: 2rem;"><i><b>Errata</b>: {{card.errata}}</i></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="col-sm-5" style="margin-bottom:2em">
    <div class="{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">
        {% set promo_buttons = [
    {'label': 'PROMO-FR', 'dir': 'promo-FR'},
    {'label': 'PROMO-EN', 'dir': 'promo-EN'}
] %}
{% set path_parts = card.imagesrc|split('/') %}
{% set filename = path_parts|last %}
{% set path = path_parts|slice(0, path_parts|length - 1)|join('/') %}

{% if card.imagesrc %}
    {# Images cachées pour vérifier l'existence des promos #}
    {% for btn in promo_buttons %}
        {% set promo_src = path ~ '/' ~ btn.dir ~ '/' ~ filename %}
        <img id="test-{{ btn.dir }}-img" src="{{ promo_src }}" style="display:none"
            onload="document.getElementById('toggle-{{ btn.dir }}-btn').style.display='inline-block';"
            onerror="document.getElementById('toggle-{{ btn.dir }}-btn').style.display='none';">
    {% endfor %}
    <img id="card-image"
         src="{{ card.imagesrc }}"
         alt="{{ card.name }}"
         class="img-responsive img-vertical-card"
         style="margin:auto">
    <br>
    {# Boutons dynamiques pour chaque promo #}
    {% for btn in promo_buttons %}
        <button id="toggle-{{ btn.dir }}-btn" class="btn btn-primary promo-toggle-btn" type="button"
            style="display:none; margin-bottom:1em;"
            onclick="togglePromo(this, '{{ btn.dir }}')">{{ btn.label }}</button>
    {% endfor %}
    <div style="margin-bottom: 0em;"></div>
    <script>
        function togglePromo(btn, dir) {
            var img = document.getElementById('card-image');
            var p = document.getElementById('imagesrc-path');
            var src = img.getAttribute('src');
            // On retire tous les répertoires promo possibles
            {% for b in promo_buttons %}
            src = src.replace(/\/{{ b.dir }}\/([^\/]+)$/, '/$1');
            {% endfor %}
            if (!btn.classList.contains('active')) {
                // Passe en promo : ajoute /dir juste avant le nom du fichier
                var srcPromo = src.replace(/\/([^\/]+)$/, '/' + dir + '/$1');
                img.setAttribute('src', srcPromo);
                if (p) p.textContent = srcPromo;
                btn.classList.add('active');
                // Désactive les autres boutons
                var allBtns = document.getElementsByClassName('promo-toggle-btn');
                for (var i = 0; i < allBtns.length; i++) {
                    if (allBtns[i] !== btn) allBtns[i].classList.remove('active');
                }
            } else {
                // Revient à l'original (déjà fait plus haut)
                img.setAttribute('src', src);
                if (p) p.textContent = src;
                btn.classList.remove('active');
            }
        }
    </script>
{% else %}
    <div class="no-image" style="margin:auto"><div class="no-image-text">No image</div></div>
{% endif %}
    </div>
</div>

{% block cardbackblock %}
{% if card.linked_card is defined %}
{% set card = card.linked_card %}
{% include 'AppBundle:Search:card-front.html.twig' %}
{% endif %}
{% endblock %}