{#
  card-front-react.html.twig
  
  Twig wrapper that mounts the React CardFront component.
  Serializes the card data to JSON and creates a mount point container.
  
  This replaces card-front-newui.html.twig when the React build is available.
#}

{% set prefer_webp_only_flag = app.user is defined and app.user.isNewUI %}

{# Determine language directory (EN/FR) for NewUI image preference.
   Allow overriding with query param `?force_locale=fr` for testing. #}
{# Prefer explicit query parameter to force locale for testing #}
{% set forced_locale = app.request.query.get('force_locale')|default('') %}
{% if forced_locale is not empty %}
    {% set rl = forced_locale|lower %}
{% else %}
    {% set rl = app.request.locale|lower %}
{% endif %}

{% if rl in ['fr', 'fr_fr', 'qc'] or rl[:2] == 'fr' %}
    {% set langDir = 'FR' %}
{% else %}
    {% set langDir = 'EN' %}
{% endif %}

{% set card_json = {
    'id': card.id,
    'code': card.code,
    'name': card.name,
    'subname': card.subname|default(''),
    'url': card.url,
    'faction_code': card.faction_code,
    'faction_name': card.faction_name,
    'faction2_code': card.faction2_code|default(null),
    'faction2_name': card.faction2_name|default(null),
    'type_code': card.type_code,
    'type_name': card.type_name,
    'stage': card.stage|default(null),
    'is_unique': card.is_unique|default(false),
    'quantity': card.quantity|default(1),
    'traits': card.traits|default(''),
    'text': card.text|default(''),
    'flavor': card.flavor|default(''),
    'back_text': card.back_text|default(''),
    'back_flavor': card.back_flavor|default(''),
    'back_name': card.back_name|default(''),
    'cost': card.cost|default(null),
    'cost_per_hero': card.cost_per_hero|default(false),
    'health': card.health|default(null),
    'health_star': card.health_star|default(false),
    'health_per_hero': card.health_per_hero|default(false),
    'health_per_group': card.health_per_group|default(false),
    'attack': card.attack|default(null),
    'attack_star': card.attack_star|default(false),
    'attack_cost': card.attack_cost|default(0),
    'thwart': card.thwart|default(null),
    'thwart_star': card.thwart_star|default(false),
    'thwart_cost': card.thwart_cost|default(0),
    'defense': card.defense|default(null),
    'defense_star': card.defense_star|default(false),
    'recover': card.recover|default(null),
    'recover_star': card.recover_star|default(false),
    'scheme': card.scheme|default(null),
    'scheme_star': card.scheme_star|default(false),
    'hand_size': card.hand_size|default(null),
    'base_threat': card.base_threat|default(null),
    'base_threat_fixed': card.base_threat_fixed|default(false),
    'base_threat_per_group': card.base_threat_per_group|default(false),
    'escalation_threat': card.escalation_threat|default(null),
    'escalation_threat_star': card.escalation_threat_star|default(false),
    'escalation_threat_fixed': card.escalation_threat_fixed|default(false),
    'threat': card.threat|default(null),
    'threat_star': card.threat_star|default(false),
    'threat_fixed': card.threat_fixed|default(false),
    'threat_per_group': card.threat_per_group|default(false),
    'boost': card.boost|default(0),
    'boost_star': card.boost_star|default(false),
    'scheme_acceleration': card.scheme_acceleration|default(0),
    'scheme_amplify': card.scheme_amplify|default(0),
    'scheme_crisis': card.scheme_crisis|default(0),
    'scheme_hazard': card.scheme_hazard|default(0),
    'resource_mental': card.resource_mental|default(0),
    'resource_physical': card.resource_physical|default(0),
    'resource_energy': card.resource_energy|default(0),
    'resource_wild': card.resource_wild|default(0),
    'illustrator': card.illustrator|default(''),
    'pack_name': card.pack_name|default(''),
    'position': card.position|default(0),
    'card_set_code': card.card_set_code|default(''),
    'card_set_name': card.card_set_name|default(''),
    'set_position': card.set_position|default(0),
    'creator': card.creator|default(''),
    'pack_year': card.pack_year|default(''),
    'status': card.status|default(''),
    'pack_environment': card.pack_environment|default(card.pack.environment|default('')),
    'imagesrc': (prefer_webp_only_flag ? ('/bundles/cards/' ~ langDir ~ '/' ~ card.code ~ '.webp') : ((card.imagesrc|default('') is not empty) ? card.imagesrc : '')),
        'backimagesrc': (prefer_webp_only_flag ? (card.backimagesrc is defined and card.backimagesrc ? ('/bundles/cards/' ~ langDir ~ '/' ~ card.code ~ 'b.webp') : '') : (card.backimagesrc is defined ? card.backimagesrc : '')),
    'double_sided': card.double_sided|default(false),
    'available': card.available|default(true),
    'spoiler': card.spoiler|default(false),
    'errata': card.errata|default(''),
    'expansions_needed': card.expansions_needed|default(''),
} %}

{# Include linked_card data if present #}
{% if card.linked_card is defined %}
    {% set linked = card.linked_card %}
    {% set linked_json = {
        'id': linked.id,
        'code': linked.code,
        'name': linked.name,
        'subname': linked.subname|default(''),
        'url': linked.url,
        'faction_code': linked.faction_code,
        'faction_name': linked.faction_name,
        'faction2_code': linked.faction2_code|default(null),
        'faction2_name': linked.faction2_name|default(null),
        'type_code': linked.type_code,
        'type_name': linked.type_name,
        'stage': linked.stage|default(null),
        'is_unique': linked.is_unique|default(false),
        'quantity': linked.quantity|default(1),
        'traits': linked.traits|default(''),
        'text': linked.text|default(''),
        'flavor': linked.flavor|default(''),
        'cost': linked.cost|default(null),
        'health': linked.health|default(null),
        'health_star': linked.health_star|default(false),
        'attack': linked.attack|default(null),
        'attack_star': linked.attack_star|default(false),
        'thwart': linked.thwart|default(null),
        'thwart_star': linked.thwart_star|default(false),
        'defense': linked.defense|default(null),
        'defense_star': linked.defense_star|default(false),
        'recover': linked.recover|default(null),
        'recover_star': linked.recover_star|default(false),
        'scheme': linked.scheme|default(null),
        'scheme_star': linked.scheme_star|default(false),
        'hand_size': linked.hand_size|default(null),
        'imagesrc': linked.imagesrc|default(''),
        'illustrator': linked.illustrator|default(''),
        'pack_name': linked.pack_name|default(''),
        'position': linked.position|default(0),
        'card_set_code': linked.card_set_code|default(''),
        'card_set_name': linked.card_set_name|default(''),
        'set_position': linked.set_position|default(0),
        'creator': linked.creator|default(''),
        'status': linked.status|default(''),
        'pack_environment': linked.pack_environment|default(''),
        'errata': linked.errata|default(''),
        'available': linked.available|default(true),
        'spoiler': linked.spoiler|default(false),
        'type_code': linked.type_code,
        'type_name': linked.type_name,
    } %}
    {% set card_json = card_json|merge({'linked_card': linked_json}) %}
{% endif %}

<div
    data-react-component="CardFront"
    data-card="{{ card_json|json_encode|e('html_attr') }}"
    data-show-spoilers="{{ show_spoilers|default(false) ? 'true' : 'false' }}"
    data-locale="{{ forced_locale is defined and forced_locale ? forced_locale : app.request.locale }}"
    data-forced-locale="{{ forced_locale is defined ? forced_locale : '' }}"
    data-langdir="{{ langDir }}"
    data-prefer-webp-only="{{ app.user is defined and app.user.isNewUI ? 'true' : 'false' }}"
></div>
