{% if card.is_unique == true %}<span class="icon-unique"></span> {% endif %}
<a href="{{ card.url }}" class="card-name card-tip{% if card.available == false %} card-preview{% endif %}{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}" data-code="{{ card.code }}">
    {{ card.name }}{% include 'AppBundle:Search:card-stage.html.twig' %}
</a>
{% if card.quantity|default(1) > 0 and not card.is_unique and card.type_code != 'villain' and card.type_code != 'main_scheme' %}
    {% set qty_class = 'qty' %}
    {% if QtyColor is not defined or QtyColor == 'false' %}
        {% if card.faction_code in ['determination', 'basic', 'aggression', 'protection', 'pool', 'leadership', 'encounter'] %}
            {% set qty_class = 'qty-white' %}
        {% endif %}
    {% endif %}
    <span class="{{ qty_class }}">
        (x{{ card.quantity|default(1) }})
    </span>
{% endif %}
{% if card.status == "released" or card.status == "sealed" %}
    <span class="tag status-{{ card.status }}">{{ card.status ?? 'Official' }}</span>
{% elseif card.status == "beta" or card.status == "alpha" %}
    <span class="tag status-{{ card.status }}">{{ card.status ?? 'Official' }}</span>
{% elseif card.creator is not defined or card.creator == "FFG" or card.creator == "" %}
    <span class="tag ffg">Official</span>
    {% set card_pack_env = card.pack.environment|default(card.pack_environment|default('')) %}
    {% if card_pack_env == 'current' %}
        <span class="tag current">current</span>
    {% endif %}
{% else %}
    <span class="tag">{{ card.creator }}</span>
{% endif %}
{% if card.subname %}
    <div class="card-subname small{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">{{ card.subname }}</div>
{% endif %}
