{% if app.user is defined and app.user and app.user.isNewUI %}
    {% include 'AppBundle:Search:card-front-newui.html.twig' %}    
{% else %}
    <div class="row">
        <div class="col-sm-7">
            <div>
                <div class="panel panel-default border-{{ card.faction_code }} {% if card.faction2_code is defined %} border-dual {% endif %}">
                    <div class="panel-heading border-{{ card.faction_code }} bg-{{ card.faction_code }} {% if card.faction2_code is defined %} bg-dual border-dual{% endif %}"
                        {% if card.faction_code == 'encounter' and card.type_code == 'villain' %}
                            style="background: linear-gradient(90deg, rgb(49, 5, 124) 0%, rgb(49, 5, 124) 100%); color: #fff;"
                        {% elseif card.faction_code == 'encounter' %}
                            style="background: linear-gradient(90deg, rgb(155, 96, 7) 0%, rgb(155, 96, 7) 100%); color: #fff;"
                        {% endif %}
                    >
                        <h3 class="panel-title">
                            {% include 'AppBundle:Search:card-name-with-link.html.twig' %}
                        </h3>
                    </div>
                    <div class="panel-body card-content">
                        {% include 'AppBundle:Search:card-faction.html.twig' %}
                        {% include 'AppBundle:Search:card-info.html.twig' %}
                        {% if card.type_code == 'main_scheme' or card.type_code == 'side_scheme' %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' %}
                            {% include 'AppBundle:Search:card-text.html.twig' %}
                        {% else %}
                            {% include 'AppBundle:Search:card-text.html.twig' %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' %}
                        {% endif %}
                        {% include 'AppBundle:Search:card-illustrator.html.twig' %}
                        {% include 'AppBundle:Search:card-pack.html.twig' %}
                        {% if card.errata %}
                            <div style="margin-top: 2rem;"><i><b>Errata</b>: {{card.errata}}</i></div>
                        {% endif %}
                    </div>
                </div>
                {# Ajout ici sous le panel #}
                {% include 'AppBundle:Search:card-front-promo.html.twig' with { 'card': card } %}
                {% if card.linked_card is defined %}
                    <div style="height: 32px;"></div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-5" style="margin-bottom:0em; text-align:center;">
            <img id="card-image-{{ card.id }}"
                src="{{ card.imagesrc }}"
                alt="{{ card.name }}"
                class="img-responsive"
                style="max-height:400px; margin:auto; border-radius:12px;">
            <br>
        </div>
    </div>

    {% if card.linked_card is defined %}
        <div class="row">
            <div class="col-sm-7">
                {# Affiche le texte du back #}
                {% set back = card.linked_card %}
                <div class="panel panel-default border-{{ back.faction_code }} {% if back.faction2_code is defined %} border-dual {% endif %}">
                    <div class="panel-heading border-{{ back.faction_code }} bg-{{ back.faction_code }} {% if back.faction2_code is defined %} bg-dual border-dual{% endif %}">
                        <h3 class="panel-title">
                            {% include 'AppBundle:Search:card-name-with-link.html.twig' with { 'card': back } %}
                        </h3>
                    </div>
                    <div class="panel-body card-content">
                        {% include 'AppBundle:Search:card-faction.html.twig' with { 'card': back } %}
                        {% include 'AppBundle:Search:card-info.html.twig' with { 'card': back } %}
                        {% if back.type_code == 'main_scheme' or back.type_code == 'side_scheme' %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' with { 'card': back } %}
                            {% include 'AppBundle:Search:card-text.html.twig' with { 'card': back } %}
                        {% else %}
                            {% include 'AppBundle:Search:card-text.html.twig' with { 'card': back } %}
                            {% include 'AppBundle:Search:card-flavor.html.twig' with { 'card': back } %}
                        {% endif %}
                        {% include 'AppBundle:Search:card-illustrator.html.twig' with { 'card': back } %}
                        {% include 'AppBundle:Search:card-pack.html.twig' with { 'card': back } %}
                        {% if back.errata %}
                            <div style="margin-top: 2rem;"><i><b>Errata</b>: {{back.errata}}</i></div>
                        {% endif %}
                    </div>
                </div>
                {# Ajout ici sous le panel du verso #}
                {% include 'AppBundle:Search:card-front-promo.html.twig' with { 'card': back } %}
            </div>
            <div class="col-sm-5" style="margin-bottom:0em; text-align:center;">
                <img id="card-image-{{ card.linked_card.id }}"
                    src="{{ card.linked_card.imagesrc }}"
                    alt="{{ card.linked_card.name }}"
                    class="img-responsive"
                    style="max-height:400px; margin:auto; border-radius:12px;">
            </div>
        </div>
    {% endif %}
{% endif %}