{% if card.is_unique == true %}<span class="icon-unique"></span> {% endif %}
<a href="{{ card.url }}" class="card-name card-tip{% if card.available == false %} card-preview{% endif %}{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}" data-code="{{ card.code }}">
    {{ card.name }}{% include 'AppBundle:Search:card-stage.html.twig' %}
</a>
{% if card.status == "released" %}
    <span style="font-size: 12px; color: white; background-color: rgb(0, 48, 27); display: inline-flex;
      align-items: center; border-radius: 12px; padding: 2px 12px 2px;">{{card.status ?? 'Official'}}
    </span>
{% endif %} 
{% if card.status == "beta" %}
    <span style="font-size: 12px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
    align-items: center; border-radius: 8px; padding: 2px 12px ;">{{card.status ?? 'Official'}}
    </span>
{% endif %} 
{% if card.subname %}
    <div class="card-subname small{% if card.spoiler is defined and not show_spoilers %} spoiler{% endif %}">{{ card.subname }}</div>
{% endif %}
