<ol>
		<h3>FFG</h3>
		{% for pack in data %}
		{% if pack.creator == 'FFG' %} 
		 <li><a href="{{ pack.url }}">{{ pack.name }} {% endif %} </a><span> {% if pack.available == false %}({{pack.known}} cards){% endif %}</span></li>
		{% endfor %}
		<h3>Fan made</h3>
		{% for pack in data %}
		{% if pack.creator != 'FFG' and pack.visibility != "false" %} 
			{% if pack.creator == 'Merlin' %} 
			<li><a title={{pack.name}} href="{{ pack.url }}">{{ pack.name }}
			<span style="font-size: 10px; color: white; background-color: rgb(18, 120, 216); display: inline-flex;
				align-items: center; border-radius: 8px; padding: 2px 12px;">{{pack.creator ?? 'FFG'}}
			</span>
			{% endif %} 
			{% if pack.creator == 'Hax' %} 
			<li><a title={{pack.name}} href="{{ pack.url }}">{{ pack.name }}
			<span style="font-size: 10px; color: white; background-color: rgb(158, 14, 187); display: inline-flex;
			align-items: center; border-radius: 8px; padding: 2px 12px;">{{pack.creator ?? 'FFG'}}
			</span>
			{% endif %} 
			{% if pack.creator != 'Hax' and pack.creator != 'Merlin' %} 
			<li><a title={{pack.name}} href="{{ pack.url }}">{{ pack.name }}
			<span style="font-size: 10px; color: white; background-color: rgb(6, 138, 98); display: inline-flex;
			align-items: center; border-radius: 8px; padding: 2px 12px;">{{pack.creator ?? 'Unknown'}}
			</span>
			{% endif %} 
			{% if pack.status == "beta" or pack.status == "alpha" %}
			<span style="font-size: 10px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
  			align-items: center; border-radius: 8px; padding: 2px 12px ;">{{pack.status ?? 'Official'}}
			</span>
		{% endif %} 
		{% endif %}
		
		</a><span> </span></li>
		{% endfor %}
		{% if app.user != "" %} 
			{% if app.user.donation == "1" %} 
				<h3>Private</h3>
				{% for pack in data %}
					{% if pack.visibility == "false" %}

						{% if pack.creator == 'Merlin' %} 
						<li><a title={{pack.name}} href="{{ pack.url }}">{{ pack.name }}
						<span style="font-size: 10px; color: white; background-color: rgb(18, 120, 216); display: inline-flex;
							align-items: center; border-radius: 8px; padding: 2px 12px;">{{pack.creator ?? 'FFG'}}
						</span>
						{% endif %} 

						{% if pack.creator == 'Hax' %} 
						<li><a title={{pack.name}} href="{{ pack.url }}">{{ pack.name }}
						<span style="font-size: 10px; color: white; background-color: rgb(158, 14, 187); display: inline-flex;
						align-items: center; border-radius: 8px; padding: 2px 12px;">{{pack.creator ?? 'FFG'}}
						</span>
						{% endif %} 

						{% if pack.creator != 'Hax' and pack.creator != 'Merlin' %} 
						<li><a title={{pack.name}} href="{{ pack.url }}">{{ pack.name }}
						<span style="font-size: 10px; color: white; background-color: rgb(6, 138, 98); display: inline-flex;
						align-items: center; border-radius: 8px; padding: 2px 12px;">{{pack.creator ?? 'Unknown'}}
						</span>
						{% endif %} 
		
						{% if pack.status == "beta" or pack.status == "alpha" %}
						<span style="font-size: 10px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
  						align-items: center; border-radius: 8px; padding: 2px 12px ;">{{pack.status ?? 'Official'}} </span>
						{% endif %}
						</li>
					{% endif %}
					</a>
				{% endfor %}
			{% endif %}
		{% endif %}
</ol>