<ol>
		<h3>FFG</h3>
		{% for pack in data %}
		{% if pack.creator == 'FFG' %} 
		 <li><a href="{{ pack.url }}">{{ pack.name }} {% endif %} </a><span> {% if pack.available == false %}({{pack.known}} cards){% endif %}</span></li>
		{% endfor %}
		<h3>Fan made</h3>
		{% for pack in data %}
		{% if pack.creator != 'FFG' and pack.visibility != "false" %}

		{% set creator_colors = {
    		'Merlin': 'rgb(18, 120, 216)',
   			'Hax': 'rgb(158, 14, 187)'
		} %}
		
		{% set creator_labels = {
    		'Merlin': 'Merlin',
    		'Designhacker': 'Hax'
		} %}

		<li>
			<a title="{{ pack.name }}" href="{{ pack.url }}">{{ pack.name }}
				{% set color = creator_colors[pack.creator] ?? 'rgb(6, 138, 98)' %}
				{% set label = creator_labels[pack.creator] ?? (pack.creator ?? 'Unknown') %}
				<span style="font-size: 10px; color: white; background-color: {{ color }}; display: inline-flex;
					align-items: center; border-radius: 8px; padding: 2px 12px;">{{ label }}</span>
				{% if pack.status == "beta" or pack.status == "alpha" %}
					<span style="font-size: 10px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
						align-items: center; border-radius: 8px; padding: 2px 12px;">{{ pack.status ?? 'Official' }}</span>
				{% endif %}
			</a>
		</li>	
		
		{% endif %}
		
		</a><span> </span></li>
		{% endfor %}
		{% if app.user != "" %} 
			{% if app.user.donation == "1" %} 
				<h3>Private</h3>
				{% for pack in data %}
					{% if pack.visibility == "false" %}

						{% set creator_colors = {
						'Merlin': 'rgb(18, 120, 216)',
						'Hax': 'rgb(158, 14, 187)'
						} %}
					
						{% set creator_labels = {
							'Merlin': 'Merlin',
							'Designhacker': 'Hax'
						} %}

						<li>
							<a title="{{ pack.name }}" href="{{ pack.url }}">{{ pack.name }}
								{% set color = creator_colors[pack.creator] ?? 'rgb(6, 138, 98)' %}
								{% set label = creator_labels[pack.creator] ?? (pack.creator ?? 'Unknown') %}
								<span style="font-size: 10px; color: white; background-color: {{ color }}; display: inline-flex;
									align-items: center; border-radius: 8px; padding: 2px 12px;">{{ label }}</span>
								{% if pack.status == "beta" or pack.status == "alpha" %}
									<span style="font-size: 10px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
										align-items: center; border-radius: 8px; padding: 2px 12px;">{{ pack.status ?? 'Official' }}</span>
								{% endif %}
							</a>
						</li>	
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
</ol>