<ol>
    <h3>FFG</h3>
    {% for pack in data %}
        {% if pack.creator == 'FFG' %}
            {% if pack.type == 'core' or pack.type == 'story' %}
                <li>
                    <a href="{{ pack.url }}">{{ pack.name }}</a>
                    <span>
                        {% if pack.available == false %}({{ pack.known }} cards){% endif %}
                    </span>
                </li>
            {% else %}
                <li style="margin-left:2em;">
                    <a href="{{ pack.url }}">{{ pack.name }}</a>
                    <span>
                        {% if pack.available == false %}({{ pack.known }} cards){% endif %}
                    </span>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

    <h3>Fan made</h3>
    {% set creator_colors = {
        'default': 'rgb(18, 120, 216)',
        'createur1': 'rgb(158, 14, 187)',
        'createur2': 'rgb(3, 88, 84)'
    } %}
    {% set creator_labels = {
        'Merlin': 'Merlin',
        'Designhacker': 'Hax'
    } %}
   	{% set fan_types = [] %}
	{% for pack in data %}
		{% if pack.creator != 'FFG' and pack.visibility != "false" and (pack.type is not empty) and (pack.type not in fan_types) %}
			{% set fan_types = fan_types|merge([pack.type]) %}
		{% endif %}
	{% endfor %}
	{% for type in fan_types %}
		{% for pack in data %}
			{% if pack.creator != 'FFG' and pack.visibility != "false" and pack.type == type %}
				<li style="margin-left:2em;">
					<a title="{{ pack.name }}" href="{{ pack.url }}">{{ pack.name }}
						{% set color = creator_colors[pack.creator] ?? creator_colors['default'] %}
						{% set label = creator_labels[pack.creator] ?? (pack.creator ?? 'Unknown') %}
						<span style="font-size: 10px; color: white; background-color: {{ color }}; display: inline-flex;
							align-items: center; border-radius: 8px; padding: 2px 12px;">{{ label }}</span>
						{% if pack.status == "beta" or pack.status == "alpha" %}
							<span style="font-size: 10px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
								align-items: center; border-radius: 8px; padding: 2px 12px;">{{ pack.status ?? 'Official' }}</span>
						{% endif %}
					</a>
				</li>
			{% endif %}
		{% endfor %}
		<br>
	{% endfor %}

    {# Decks privés pour les donateurs #}
    {% if app.user and app.user.donation == "1" %}
        <h3>Private</h3>
        {% for pack in data %}
            {% if pack.creator != 'FFG' and pack.visibility == "false" %}
                <li style="margin-left:2em;">
                    <a title="{{ pack.name }}" href="{{ pack.url }}">{{ pack.name }}
                        {% set color = creator_colors[pack.creator] ?? creator_colors['default'] %}
                        {% set label = creator_labels[pack.creator] ?? (pack.creator ?? 'Unknown') %}
                        <span style="font-size: 10px; color: white; background-color: {{ color }}; display: inline-flex;
                            align-items: center; border-radius: 8px; padding: 2px 12px;">{{ label }}</span>
                        {% if pack.status == "beta" or pack.status == "alpha" %}
                            <span style="font-size: 10px; color: black; background-color: rgb(216, 150, 8); display: inline-flex;
                                align-items: center; border-radius: 8px; padding: 2px 12px;">{{ pack.status ?? 'Official' }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ol>